vendor/
composer.phar
composer.lock
autoload.php
phpunit.xml
pom.xml
php-cs-fixer.phar

generated-classes/

tests/Fixtures/namespaced/build/
tests/Fixtures/nestedset/build/
tests/Fixtures/schemas/build/
tests/Fixtures/schemas/build/

tests/Fixtures/bookstore/build/
tests/Fixtures/bookstore/runtime-conf.xml
tests/Fixtures/bookstore/build.properties

tests/Fixtures/bookstore-packaged/build/
tests/Fixtures/bookstore-packaged/build.properties
tests/Fixtures/bookstore-packaged/runtime-conf.xml

tests/Fixtures/namespaced/runtime-conf.xml
tests/Fixtures/namespaced/build.properties

tests/Fixtures/schemas/runtime-conf.xml
tests/Fixtures/schemas/build.properties

tests/Fixtures/reverse/mysql/build/
tests/Fixtures/reverse/mysql/build.properties
tests/Fixtures/reverse/mysql/runtime-conf.xml

tests/Fixtures/reverse/pgsql/build/
tests/Fixtures/reverse/pgsql/runtime-conf.xml

tests/Fixtures/migration/build/
tests/Fixtures/migration/build.properties
tests/Fixtures/migration/runtime-conf.xml
