vendor/
composer.phar
/composer.lock
autoload.php
phpunit.xml
pom.xml
php-cs-fixer.phar

generated-classes/

tests/Fixtures/namespaced/build/
tests/Fixtures/nestedset/build/
tests/Fixtures/schemas/build/

tests/Fixtures/bookstore/build/
tests/Fixtures/bookstore/propel.yaml

tests/Fixtures/bookstore-packaged/build/
tests/Fixtures/bookstore-packaged/propel.yaml

tests/Fixtures/namespaced/propel.yaml

tests/Fixtures/schemas/propel.yaml

tests/Fixtures/reverse/mysql/build/
tests/Fixtures/reverse/mysql/propel.yaml

tests/Fixtures/reverse/pgsql/build/
tests/Fixtures/reverse/pgsql/propel.yaml

tests/Fixtures/migration/build/
tests/Fixtures/migration/propel.yaml

tests/Fixtures/quoting/build/
tests/Fixtures/quoting/propel.yaml


tests/Fixtures/fixtures_built

tests/graphviztest/
tests/migrationdiff/
tests/reversecommand/
