language: php

php:
  - 5.3
  - 5.4

env:
  - DB=mysql DB_USER=root

before_script:
  # MySQL
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database test; create schema bookstore_schemas; create schema contest; create schema second_hand_books;'; fi"

  # Composer
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install

  - php bin/propel test:prepare --vendor="$DB" --dsn="$DB:dbname=test" --user="$DB_USER"

script: phpunit
