language: php

php:
  - 5.4
  - 5.5

env:
  - DB=mysql DB_USER=root
  - DB=pgsql

before_script:
  # Composer
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --prefer-source

  # MySQL
  - sh -c "if [ '$DB' = 'mysql' ]; then ./bin/setup.mysql.sh; fi"

  # PostgreSQL
  - sh -c "if [ '$DB' = 'pgsql' ]; then ./bin/setup.postgres.sh; fi"

script:
 - sh -c "if [ '$DB' = 'mysql' ]; then phpunit; fi"
 - sh -c "if [ '$DB' = 'pgsql' ]; then phpunit --exclude-group mysql; fi"
