language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

env:
  - DB=agnostic #only database agnostic tests
  - DB=mysql
  - DB=sqlite

install:
  - rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - composer install

before_script:
  - if [[ $DB != 'agnostic' && $DB != 'sqlite' ]]; then ./tests/bin/setup.$DB.sh; fi

script:
  - ./vendor/bin/phpunit -v -c tests/$DB.phpunit.xml;


matrix:
  include:
    - php: 5.5
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5
    - php: 5.6
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5
    - php: 7.0
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5
    - php: 7.1
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5
    - php: 7.2
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5

    - php: 5.5
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0
    - php: 5.6
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0
    - php: 7.0
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0
    - php: 7.1
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0    
    - php: 7.2
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0

#    - php: 5.5
#      env: DB=mysql MARIADB=10.1
#      addons:
#        mariadb: 10.1
#    - php: 5.6
#      env: DB=mysql MARIADB=10.1
#      addons:
#        mariadb: 10.1
#    - php: 7.0
#      env: DB=mysql MARIADB=10.1
#      addons:
#        mariadb: 10.1

    - php: 5.5
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2
    - php: 5.6
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2
    - php: 7.0
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2
    - php: 7.1
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2
    - php: 7.2
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2    

    - php: 5.5
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3
    - php: 5.6
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3
    - php: 7.0
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3
    - php: 7.1
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3
    - php: 7.2
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3

    - php: 5.5
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4
    - php: 5.6
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4
    - php: 7.0
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4
    - php: 7.1
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4
    - php: 7.2
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4
    
    - php: 5.5
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5
    - php: 5.6
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5
    - php: 7.0
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5
    - php: 7.1
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5
    - php: 7.2
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5
    
    - php: 5.5
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6
    - php: 5.6
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6
    - php: 7.0
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6
    - php: 7.1
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6
    - php: 7.2
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6
    

  allow_failures:
    - php: nightly

  fast_finish: true

# cache vendors
cache:
  directories:
    - vendor
    - $HOME/.composer/cache

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

notifications:
  webhooks:
    - http://propel.jarves.io/build.php
    - https://webhooks.gitter.im/e/206efe76e183f9ade489
