includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - '%rootDir%/../../../src/'
    excludePaths:
        - '%rootDir%/../../../src/Propel/Generator/Command/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/AggregateColumn/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/AggregateMultipleColumns/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/I18n/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Builder/Om/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/Validate/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/Archivable/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/Delegate/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/Sortable/templates/*'
        - '%rootDir%/../../../src/Propel/Generator/Behavior/NestedSet/templates/*'
        - '%rootDir%/../../../src/Propel/Runtime/Connection/PdoConnection.php'
        - '%rootDir%/../../../src/Propel/Generator/Command/Helper/ConsoleHelper.php'
        - '%rootDir%/../../../src/Propel/Generator/Command/InitCommand.php'
    ignoreErrors:
        - '#Call to an undefined method .+Collection::.+Array\(\)#'
        -
        	message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
        	path: src/Propel/Common/Config/PropelConfiguration.php
