includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - '%rootDir%/../../../src/'
    ignoreErrors:
        - '#Call to an undefined method .+Collection::.+Array\(\)#'
        -
        	message: "#^Method .+\\\\ConsoleHelper::.+\\(\\) has no return type specified#"
        	path: src/Propel/Generator/Command/Helper/ConsoleHelper.php
        -
            message: "#^Method .+\\\\ConsoleHelper::.+\\(\\) has parameter \\$messages with no type specified#"
            path: src/Propel/Generator/Command/Helper/ConsoleHelper.php
        -
        	message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
        	path: src/Propel/Common/Config/PropelConfiguration.php
