<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="propel2">
            <directory>tests/Propel/Tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>pgsql</group>
            <group>mysql</group>
        </exclude>
    </groups>

    <php>
        <env name="DB" value="mysql"/> <!-- mysql, sqlite, pgsql -->
        <env name="DB_USER" value=""/>
        <env name="DB_PW" value=""/>
    </php>

    <logging>
        <log type="coverage-php" target="tests/clover.cov"/>
    </logging>

    <filter>
        <whitelist>
            <directory>src/Propel/</directory>
        </whitelist>
    </filter>

</phpunit>
