# Configuration file for `sql-insert-command` fixtures
propel:
  general:
    project: bookstore

  paths:
    phpDir: src
    phpConfDir: propel/config
    sqlDir: propel/sql

  database:
    connections:
      bookstore:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    defaultConnection: bookstore
    connections:
      - bookstore
    targetPackage: bookstore
    objectModel:
      disableIdentifierQuoting: true

  runtime:
    defaultConnection: bookstore
    connections:
      - bookstore