body.home {
  background:#fff;
}

.home .content {
  padding-top: 10px;
}

#banner {
  display: none;
}

p, li {
  font-family: Helvetica, sans-serif;
  font-size: 17pt;
  line-height: 1.2em;
  word-spacing: auto;
  text-align: left;
  margin-bottom: 10px;
}

.ribbon {
  display: none;
}

.fork_and_edit {
  display: none;
}

.rootnav li {
  padding: 12px;
  background-color: #edbc1c;
  color: #fff;
  font-size: 17pt;
  line-height: 1.2em;
}

.toc {
  float: right;
  width: 40%;
}


.toc li {
  font-size: 20pt;
  list-style-type: none;
}

.markdown pre {
  font-size: 15pt;
}

.markdown a {
  text-decoration: none;
  background-color: #fed;
  padding: 7px;
}

.markdown h3 {
  font-weight: bold;
}
