<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
    <propel>
        <datasources default="bookstore_namespaced">
            <datasource id="bookstore_namespaced">
                <adapter>##DATABASE_VENDOR##</adapter>
                <connection>
                    <classname>\Propel\Runtime\Connection\DebugPDO</classname>
                    <dsn>##DATABASE_URL##</dsn>
                    <user>##DATABASE_USER##</user>
                    <password>##DATABASE_PASSWORD##</password>
                    <options>
                        <option id="ATTR_PERSISTENT">false</option>
                    </options>
                    <attributes>
                        <option id="ATTR_EMULATE_PREPARES">true</option>
                    </attributes>
                    <settings>
                        <setting id="charset">utf8</setting>
                    </settings>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>
