# Configuration file for `migration-command` fixtures
# This file is here only to avoid errors while instantiating Propel\Generator\Config\GeneratorConfig class
#All these properties are overwritten at runtime
propel:
  general:
    project: bookstore

  database:
    connections:
      bookstore:
        adapter: mysql
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: mysql:host=127.0.0.1;dbname=test
        user: root
        password: 
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    defaultConnection: bookstore
    connections:
      - bookstore
    targetPackage: bookstore

  runtime:
    defaultConnection: bookstore
    connections:
      - bookstore
