# Configuration file for `migration` fixtures
propel:
  general:
    project: migration

  database:
    connections:
      migration:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    defaultConnection: migration
    connections:
      - migration
    targetPackage: migration

  runtime:
    defaultConnection: migration
    connections:
      - migration