# Configuration file for `bookstore-packaged` fixtures
propel:
  general:
    project: bookstore-packaged

  database:
    connections:
      bookstore:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

      bookstore-packaged:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

      bookstore-log:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    targetPackage: bookstore-packaged
    defaultConnection: bookstore-packaged
    connections:
      - bookstore-log
      - bookstore-packaged
      - bookstore

  runtime:
    defaultConnection: bookstore-packaged
    connections:
      - bookstore-log
      - bookstore-packaged
      - bookstore

    log:
      propel-bookstore-packaged:
        type: Stream
        path:
        level: 100