<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
    <log>
        <ident>propel-bookstore-packaged</ident>
        <level>7</level>
    </log>
    <propel>
        <datasources default="bookstore-packaged">
            <datasource id="bookstore">
                <adapter>##DATABASE_VENDOR##</adapter>
                <connection>
                    <dsn>##DATABASE_URL##</dsn>
                    <user>##DATABASE_USER##</user>
                    <password>##DATABASE_PASSWORD##</password>
                </connection>
            </datasource>
            <datasource id="bookstore-log">
                <adapter>##DATABASE_VENDOR##</adapter>
                <connection>
                    <dsn>##DATABASE_URL##</dsn>
                    <user>##DATABASE_USER##</user>
                    <password>##DATABASE_PASSWORD##</password>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>
