# Configuration file for `quoting` fixtures
propel:
  general:
    project: quoting

  database:
    connections:
      quoting:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    targetPackage: quoting
    defaultConnection: quoting
    connections:
      - quoting

  runtime:
    defaultConnection: quoting
    connections:
      - quoting
