// transliterate
if (function_exists('iconv')) {
    $slug = iconv('utf-8', 'us-ascii//TRANSLIT', $slug);
}

// lowercase
if (function_exists('mb_strtolower')) {
    $slug = mb_strtolower($slug);
} else {
    $slug = strtolower($slug);
}

// remove accents resulting from OSX's iconv
$slug = str_replace(array('\'', '`', '^'), '', $slug);

// replace non letter or digits with separator
$slug = preg_replace({{replacePattern}}, $replacement, $slug);

// trim
$slug = trim($slug, $replacement);

// check length, as suffix could put it over maximum
$incrementReservedSpace = 3;
$maxSize = {{maxSize}};
if (strlen($slug) > ($maxSize - $incrementReservedSpace)) {
    $slug = substr($slug, 0, $maxSize - $incrementReservedSpace);
}

if (empty($slug)) {
    return '';
}

return $slug;