# Configuration file for `schemas` fixtures
propel:
  general:
    project: schemas

  database:
    connections:
      bookstore-schemas:
        adapter: ##DATABASE_VENDOR##
        classname: \Propel\Runtime\Connection\DebugPDO
        dsn: ##DATABASE_URL##
        user: ##DATABASE_USER##
        password: ##DATABASE_PASSWORD##
        options:
          ATTR_PERSISTENT: false
        attributes:
          ATTR_EMULATE_PREPARES: true
        #Propel specific settings
        settings:
          charset: utf8

  generator:
    defaultConnection: bookstore-schemas
    connections:
      - bookstore-schemas

  runtime:
    defaultConnection: bookstore-schemas
    connections:
      - bookstore-schemas