<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
    <!--
    #
    #  P R O P E L  P R O P E R T I E S
    #
    # Note that you can configure multiple datasources; for example if your
    # project uses several databases.
    -->
    <propel>
        <datasources default="bookstore-schemas">

            <datasource id="bookstore-schemas">
                <adapter>##DATABASE_VENDOR##</adapter>
                <connection>
                    <classname>\Propel\Runtime\Connection\DebugPDO</classname>
                    <dsn>##DATABASE_VENDOR##:dbname=test</dsn>
                    <user>##DATABASE_USER##</user>
                    <password>##DATABASE_PASSWORD##</password>
                    <options>
                        <option id="ATTR_PERSISTENT">false</option>
                    </options>
                    <attributes>
                        <option id="ATTR_EMULATE_PREPARES">true</option>
                    </attributes>
                    <settings>
                        <setting id="charset">utf8</setting>
                    </settings>
                </connection>
            </datasource>

        </datasources>
    </propel>
</config>
